.elements__delete-btn {
    background: url(../../../images/elements__delete-btn.svg) no-repeat;
    width: 18px;
    height: 19px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    transition: opacity 0.3s ease-out 0s;
  }
  
  
  .element__delete-button:hover {
    opacity: 0.6;
  }