.form__item {
    width: 100%;
    margin: 45px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px 0;
}

.form__item:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__item:nth-of-type(2) {
    margin: 30px 0 0;
}

@media screen and (max-width: 768px) {
    .form__item {
        margin: 75px auto 0 auto;
    }
}