.profile__secondary-text {
    /* font-family: Inter; */
    /* border: tomato 1px solid; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media (max-width:768px) {
    .profile__secondary-text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 0 36px 0;
    }
}