@import url(./__logo/header__logo.css);





.header {
    /* padding: 45px auto 36px; */
    /* max-width: 882px; */
    margin: 45px auto 36px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    -webkit-background-clip: padding-box; /* для Safari */
    background-clip: padding-box; /* для IE9+, Firefox 4+, Opera, Chrome */
    
}


 
@media (max-width: 768px){
    .header {
        width: 100%;
        padding-top: 28px;
        margin-top: 0;
    }
}