.profile__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    grid-area: title;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 935px) {
    .profile__title {
       padding-left: 27px;
    }    
}

@media screen and (max-width: 510px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        max-width: 190px;
    }    
}
