.profile__main-text {
    color: white;
    /* border: tomato 1px solid; */
    /* font-family: Inter; */
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;  
    /* margin: 0 17px 16px 0; */
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
    
}

@media (max-width:768px) {
    .profile__main-text {
        margin: 0;
        text-align: center;
        font-size: 27px;
    }
}