.elements__heart-btn {
    width: 21px;
    height: 19px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    -webkit-appearance: none;
    overflow: hidden;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    border: none;
    transition: opacity 0.3s ease-out 0s;
}

.elements__heart-btn:hover {
    opacity: 0.5;
}