.form__item_card {
    margin: 54px auto 0 auto;
}

@media screen and (max-width: 768px) {
    .form__item_card {
        margin: 36px auto 0 auto;
        font-size: 12px;
        line-height: 15px;
    }
}

