.form__save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    text-decoration: none;
    background: #000000;
    border-radius: 2px;
    margin: 48px auto 0 auto;
    transition: background-color .5s ease-out;
    border: none;
    padding: 0;
}

.form__save-button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form__save-button {
        margin: 45px auto 0 auto;
    }
}