.elements__element {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 282px;
    max-height: 361px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    -o-object-fit: cover;
    object-fit: cover;
    width: 282px;
    height: auto;
    list-style-type: none;
    position: relative;
    padding: 0;
    
}