.element__button-counter {
    display: block;
    margin: 3px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}